* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.serif-font {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centered {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

header, footer {
  color: white;
  background-color: #495E57;
  padding: 2rem 2%;
}

input, select {
  border-radius: 6px;
  font-size: 16px;
  padding: 0 4px;
}

.btn-default {
  padding: 0.75rem 1.5rem;
  background-color: #F4CE14;
  border: none;
  border-radius: 24px;
  font-weight: bold;
}

.btn-default:hover {
  background-color: #d9b511;
}

.btn-default:disabled {
  background-color: gray;
}

.Specials-DishCard {
  background-color: lightgray;
  border-radius: 1rem;
  width: 20rem;
}

.Specials-ReviewCard {
  background-color: white;
  border-radius: 1rem;
  width: 18rem;
  padding: 1rem;
  color: black;
}

.title {
  color: #F4CE14;
}

.Header-img {
  border-radius: 24px;
  object-fit: cover;
  aspect-ratio: 1/1;
  max-width: 360px;
  width: 100%;
}

.Header-text {
  display: flex;
}

.Header-text > .Header-desc {
  flex: 1;
  padding-right: 2rem;
}

.Header-figure {
  flex: 1;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;      /* vertically center items */
  padding: 1rem 2%;
}

.Nav-logo {
  flex: 0 0 20%;
}

.Nav-tab {
  flex: 1;                  /* fill remaining space */
  display: flex;
  justify-content: space-evenly; /* spread tabs across */
  padding: 0;
  margin: 0;
  list-style: none;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  * {
    font-size: 0.875rem;
  }
  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  nav {
    flex-direction: column; /* stack logo & nav vertically */
    padding: 1rem 0;
  }
  .Nav-logo {
    flex: 0 0 auto;
  }
  .Nav-tab {
    padding: 1rem 0;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 432px) {
  #root {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}